#header .header-nav {
    display: flex;
    margin-top: -20px;
    margin-left: -20px;
    margin-bottom: 20px;
    position: relative;
    width: 1900px;
    justify-content: space-between;
    height: 94px;
    padding: 1.6rem 6rem;
  
    background-color: #181818;
  }
  body {
      font-family: Arial, sans-serif;
      padding: 20px;
      background-image: url("/image/foodstall.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }
  
  main {
      max-width: 600px;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
      color: #333333;
      font-size: 24px;
      margin-bottom: 10px;
  }
  
  p {
      color: #666666;
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 20px;
  }
  
  ul {
      list-style-type: disc;
      color: #666666;
      font-size: 18px;
      margin-left: 20px;
      margin-bottom: 20px;
  }
  
  li {
      margin-bottom: 10px;
  }
  
  @keyframes rotate {
      0% {
          transform: rotate(0deg);
          }
  
  100% {
      transform: rotate(360deg);
      }
          }
  img.rotate {
      animation: rotate 4s linear infinite;
  }
  
  * {
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
      box-sizing: border-box;
  }
  
  .footer {
      margin-top: 150px;
      margin-bottom: -40px;
      width: 1800px;
      margin-left: -40px;
      padding: 100px 15%;
      background: #333;
      color: #efefef;
      display: flex;
  }
  .footer div {
      text-align: center;
  }
  
  .col-2 {
      flex-grow: 2;
  }
  
  .footer div h3 {
      font-weight: 300;
      margin-bottom: 0px;
      letter-spacing: 1px;
  }
  
  .col-1 a {
      display: block;
      text-decoration: none;
      color: #efefef;
      margin-bottom: 10px;
  }
  
  form input {
      width: 400px;
      height: 45px;
      border-radius: 4px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 40px;
      outline: none;
      border: none;
  }
  
  form button {
      background: transparent;
      border: 2px solid #fff;
      color: #fff;
      border-radius: 30px;
      padding: 10px 30px;
      font-size: 15px;
      cursor: pointer;
  }
  .map {
    max-width: 300px; 
    margin: 20px auto; 
  }
  